<div class="card">
	<div class="card-body">
		<h3><%= blog.title %></h3>
		<p><%= blog.content %></p>
			<%#= blog.pictures.pluck(:image).join(',') %>
		<%= link_to 'Show',blog, class: 'btn btn-primary'%>
	</div>
</div>
