<div class="container-fluid">
	<h3 class="text-center">BLOG PAGE</h3>
	<div class="container-fluid">
		<div class="jsBlogList">
			<%= render partial: 'list', collection: @blogs, as: :blog %>
		</div>
		<div id= "newBlogLink">
			<%= link_to 'Add Blog', new_blog_path, remote:true, class:'btn btn-primary'%>
		</div>
		<div class= "new-form"></div>
	</div>
</div>