<div class="container-fluid">
  <h3>Content</h3>
  <div class="card">
    <div class="card-body">
      <%= @blog.content %>
    </div>
  </div>
  <h3>Comments</h3>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <%= render @blog.comments %>
    </div>
  </div>
  <h3>Leave a reply</h3>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <%= render 'comments/form' %>
    </div>
  </div>
</div>