<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Mysite</h1>
    <h2>Total number of Blog:<%= Blog.count %></h2>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>