<section class="py-2">
  <div class="container">
    <%= simple_form_for @author,url: authors_path, remote: true  do |f| %>
    <div class="row mb-3">
      <div class="col-sm-10">
        <%= f.input :name %>
      </div>
      <div class="col-sm-10">
        <%= f.button :submit %>
      </div>
    <% end %>
  </div>
</div>
