<div id="AuthorModal" class="modal " role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
         <h2>New Author</h2>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for @author,url: authors_path,validate: true, remote: true  do |f| %>
          <div class="form-group">
            <%= f.input :name, input_html: { class: "form-control", required:true}, input_label: {class: "form-control"} %>
          </div>
          <br>
          <div class="modal-footer">
            <div class="text-center">
              <%= f.button :submit, 'Save',class: 'btn btn-primary' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

