<div class="container-fluid">
	<h3 class="text-center">AUTHOR PAGE</h3>
	<div class="jsAuthorList">
		<%= render partial: 'list', collection: @authors, as: :author %>
	</div>
	<br>
	<div class= "new-form"></div>
	<div id="newAuthorLink">
		<%= link_to 'New Author', new_author_path, remote: true, class:'btn btn-primary' %> 
	</div>
	<div>
		<%= will_paginate @authors%>
	</div>
</div>