<h1>Authors Page</h1>

<table class="table table-striped table-hover table-bordered">
  <thead>
  	<tr>
      <th>Name</th>
	</tr>
	</thead>
	<tbody class="jsAuthorList">
		<%= render partial: 'list', collection: @authors, as: :author %>
	</tbody>
</table>
<div class= "new-form"></div>
<div id="newAuthorLink">
	<%= link_to 'New Author', new_author_path, remote: true %> 
</div>